@import "tailwindcss";

/* Theme Light (default) */
:root {
  --background: #0f0f0f;
  --foreground: #171717;
  --border: #171717;
  --muted: #9ca3af;
}

/* Tema escuro */
.dark {
  --background: #0f0f0f;
  --foreground: #ededed;
  --border: #ededed;
  --muted: #475569;
}

/* Aplicar as variáveis */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
